@page "/"
@using static MudBlazor.CategoryTypes
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using AvstickareBlazor.Models
@using System.Text.Json
@inject HttpClient Http
@inject NavigationManager Navigation
@inject TripService TripService
@inject IJSRuntime JS
@inject TripStopService TripStopService

<PageTitle>Start</PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium" Class="mt-4">
    <h1>Gör din resa till ett äventyr!</h1>

    @if (!string.IsNullOrWhiteSpace(ErrorMessage))
    {
        <MudAlert Severity="Severity.Error" Elevation="0" Dense="true" Class="mb-4">
            @ErrorMessage
        </MudAlert>
    }

    <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
        <h2>Vart vill du resa?</h2>
        <MudTextField InputId="fromInput" T="string" Required="true" RequiredError="Du måste ange en startpunkt"
            @bind-Value="FromValue" Label="Från" Variant="Variant.Outlined" />

        <MudTextField InputId="ToInput" T="string" Required="true" RequiredError="Du måste ange en slutdestinaton"
            @bind-Value="ToValue" Label="Till" Variant="Variant.Outlined" />
        <MudButton OnClick="SendTripRequest" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowForward"
            Style="color: black;" Color="Color.Primary" Class="mt-6">Skapa rutt</MudButton>
    </MudForm>

    @if (isLoading)
    {
        <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="mt-10" />
        <MudText Typo="Typo.body1" Align="Align.Center">Laddar ditt nästa äventyr...</MudText>
    }
</MudContainer>

@code
{
    private bool success;
    private string[] errors = { };
    private MudForm? form;
    public string? ErrorMessage { get; set; }

    public string? FromValue { get; set; }
    public string? ToValue { get; set; }

    private bool isLoading = false;

    private async Task SendTripRequest()
    {
        if (form is not null)
        {
            await form.Validate();
        }

        if (!success)
        {
            ErrorMessage = "Ruttplaneraren är inte korrekt ifylld.";
        }

        isLoading = true;

        try
        {
            //rensa tidigare utkast av stopp
            await TripStopService.ClearAsync();

            //hämta ny rutt
            var result = await TripService.PlanTripAsync(FromValue, ToValue);

            //spara utkastet för resan i localstorage
            await JS.InvokeVoidAsync("localStorage.setItem", "latestTrip",
            JsonSerializer.Serialize(result));

            //spara från/till-platser
            if (!string.IsNullOrWhiteSpace(result.FromPlaceId))
            {
                await TripStopService.SetFromPlaceAsync(result.FromPlaceId);
            }
        
            if (!string.IsNullOrWhiteSpace(result.ToPlaceId))
            {
                await TripStopService.SetToPlaceAsync(result.ToPlaceId);
            }

            //navigera till karta
            Navigation.NavigateTo("/karta");
        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }
        finally
        {
            isLoading = false;
        }
    }


}